
%h3.trmp-card-title Szczegóły


%ul.trmp-list

  %li.trmp-li
    %div.trmp-li-primary
      = journey.location
    %div.trmp-li-secondary
      Miejsce podróży

  %li.trmp-li
    %div.trmp-li-primary
      = journey.text_date
    %div.trmp-li-secondary
      Czas rozpoczęcia podróży

  %li.trmp-li
    %div.trmp-li-primary
      = journey.friendly_duration
    %div.trmp-li-secondary
      Czas trwania podróży
