%div.people-quotes
  %div.row
    %div.col-md-2
      %div.person
        = image_tag 'people/jan.jpg', alt: "Jan"
    %div.col-md-10
      %blockquote
        %p
          Zawsze marzyłem o podróżach do ciekawych miejsc. Alpy, Himalaje, Japonia albo Chile.
          Samemu jednak nie jest łatwo wszystko zaplanować i zorganizować.

        %p Wierzę, że na Trampie znajdę ludzi, z którymi wreszcie mogę to zrobić!

        %footer
          %cite
            Johny, założyciel Trampa.pl, pasjonat fotografii i biegania
