%div.page-header
  %h1 Witamy!


  %ul.nav.nav-pills
    %li= link_to "Zaplanuj wyprawę ", new_journey_path


%div.page-content
  - if current_user.journeys.size > 0

    %h2 Twoje wyprawy

    %ul.media-list
      - current_user.journeys.each do |j|
        %li.media
          %div.pull-left
            = image_tag "http://placehold.it/100x100"
          %div.media-body
            %h3.media-heading= j.title
            = simple_format j.short_description
  - else
    %p Nie masz jeszcze żadnych podróży...
