- content_for :intro do
  %div.intro
    %div.jumbotron
      %div.container
        %h1 Podróżuj w grupie!
        %p.lead Znajdź chętnych na podróż marzeń, zorganizuj wycieczkę, zwiedzaj świat!

        - if user_signed_in?
          = link_to journeys_path, class: 'btn btn-special' do
            %span.glyphicon.glyphicon-globe
            Zobacz aktywne wyprawy
        - else
          = link_to new_user_registration_path, class: 'btn btn-special' do
            %span.glyphicon.glyphicon-log-in
            Dołącz do społeczności

  %div.container{role: "primary"}
    %div.hgroup
      %h2 Odwiedź ciekawe miejsca, poznaj wspaniałych ludzi
      %p.lead
        Marzysz o odwiedzeniu różnych zakątków świata? Nie masz z kim zrealizować swoich podróży marzeń? Od dziś, mamy dla Ciebie propozycję. Zacznij działać!
      %p <strong>Trampa.pl</strong> łączy podróżników, pasjonatów i ludzi ciekawych świata.


  %div.container{role: "secondary"}
    %div.hgroup.last
      %h2 Jak to działa?
      %p.lead Trampa.pl to nie jest kolejny głupi, pseudorandkowy portal dla ludzi bez pasji i celu. Chcemy pomóc wam zorganizować ekscytujące wyprawy, zwiedzić świat i poznać nowych ludzi.

      %div.row
        %div.col-md-6
          %h3 Organizujesz wyprawę?
          %p Znajdź ludzi do Twojej ekipy. Zaplanujcie podróż i odkrywajcie świat.

        %div.col-md-6
          %h3 Szukasz inspiracji?
          %p Dołącz do grupy, poznaj ciekawych ludzi, a przede wszystkim podróżuj i odważ się żyć.


  %div.promo
    %div.jumbotron
      %div.container
        %p.lead Trampa.pl - Odważ się żyć!
        = link_to new_user_registration_path, class: 'btn btn-special' do
          %span.glyphicon.glyphicon-log-in
          Dołącz do społeczności
