- content_for :intro do
  %div.intro.full
    %div.jumbotron
      %div.container
        %h1 Thanks for signing up!
        %p.lead Code&amp;Travel is currently in closed beta. We'll be launching shortly...

        = link_to new_user_registration_path, class: 'btn btn-special' do
          %span.glyphicon.glyphicon-log-out
          Code&Travel