.page-header{
  margin: 0 0 16px 0;
  position: relative;

  .nav{
    position: absolute;
    right: 0;
    bottom: 20px;
  }

  p{
    font-size: $font-size-small;
    color: $gray;
    margin: 0;
  }
}

.page-content{
  min-height: 480px;
}

h2,h3,h4{
  font-size: $font-size-large;
  font-weight: $font-weight-base;
  margin: 0 0 1em 0;
  color: $gray;
}

h2{
  text-transform: uppercase;
}

h3{
  font-size: $font-size-large;
}
