.header{

  position: absolute;
  left: 0;
  top: 0;
  right: 0;


  a:link,a:visited{color: #fff;}

  .navbar-nav{
    a:link,a:visited{color: #fff;}
    a:hover{background: rgba(255,255,255,0.1);color: #fff;}
  }

  .container{
    border-bottom: 1px solid rgba(255,255,255,0.2);
  }

}