.navbar{
  height: 64px;
}

.navbar-brand{

  display: inline-block;
  height: 64px;
  padding-top: 0;

  img{
    height: 64px;
  }
}

.navbar-nav{
  margin-top: 8px;
}

.navbar-transparent{


  a:link,a:visited{color: #fff;}

  .navbar-nav{
    a:link,a:visited{color: #fff;}
    a:hover{background: rgba(255,255,255,0.1);color: #fff;}
  }

  .navbar-transparent{
    .container{
      border-bottom: 1px solid rgba(255,255,255,0.2);
    }
  }

}
