.jd-cover{
  min-height: 480px;
  background: #333 50% 50% no-repeat fixed;
  background-size: cover;
  position: relative;
  margin:-64px 0 2*$gutter 0;
}

.jd-title{
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  color: #fff;
  background: transparentize($navbar-inverse-bg, 0.5);
  padding: $gutter 0;
}


.trmp-card{
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.25);
  padding: $gutter;
  background: #fafafa;
}

.trmp-card-title{
  font-size: $font-size-large;
  font-weight: $font-weight-base;
  margin: 0;
  color: $gray;
}


.trmp-list{
  margin: 0;
  padding: $gutter 0;
}

.trmp-li{
  list-style: none;
  margin: 0;
  padding: 0 0 $gutter/2 0;
}

.trmp-li-secondary{
  color: $gray-light;
  font-size: $font-size-xsmall;
}
