.trmp-journey-list{
  @extend .row;
}

.trmp-journey-block{
  @extend .col-md-4;
}

.journey-card{
  margin: 0 $gutter $gutter 0;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.25);
}

.jc-image{
  position: relative;

  img{
    width: 100%;
    height: auto;
    border-radius: 2px 2px 0 0;
  }
}

.jc-user-avatar-link{
  position: absolute;
  left: 50%;
  margin-left: -25px;
  bottom: -25px;

  img{
    border-radius: 50px;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
  }
}

.jc-title{
  position: absolute;
  bottom: 25px;
  color: #fff;
  font-size: $font-size-base;
  padding: $gutter;
  margin: 0;
}

.jc-details{
  margin-top: $gutter;
  padding: $gutter;
  font-size: $font-size-small;
}

.jc-actions{

  border-top: 1px dotted #eee;
  padding-top: $gutter / 2;

  a{
    display: inline-block;
    margin-right: $gutter;
    text-transform: uppercase;
  }
}
