.people-quotes{

  img{
    width: 150px;
    height: 150px;
    border-radius: 200px;
    border: 5px solid $border-color;
  }

  .person{
    padding: $gutter 0;
    text-align: center;
  }

  border-bottom: 1px dotted #eee;
}


.trmp-user{
  text-align: center;
}

.trmp-user-name{
  font-size: $font-size-large;
  color: $gray;
  margin: $gutter 0 0 0;
}

.trmp-user-avatar-link{
  img{
    width: 100%;
    border-radius: 100%;
  }
}

.trmp-user-bio{
  font-size: $font-size-xsmall;
  color: $gray-light;
}
