%div.page-header
  %h1 Witamy!

  %ul.nav.nav-pills
    %li= link_to "Zaplanuj wyprawę ", new_journey_path


%div.page-content
  - if @journeys.size > 0

    %h2 Twoje wyprawy

    = render partial: @journeys, locals: {edit: true}

  - else
    %p Nie masz jeszcze żadnych podróży...

- content_for :sidebar do
  = render partial: 'account/nav'
