%h1 Witaj #{@user.name}!
%p Możesz aktywować swoje konto używając linku poniżej:
%p= link_to 'Potwierdź adres email', confirmation_url(@resource, confirmation_token: @token)

%p
  Aby zalogować się do serwisu użyj danych podanych przy rejestracji:
  <br/><br/>
  == Twój email: #{@user.email}<br/>
  == Twoje hasło: #{@user.password}