%h1 Witaj #{@user.name}!
%p Zostaliśmy poproszeni o wysłanie instrukcji zmiany hasła. Można to zrobić poprzez kliknięcie w link poniżej.
%p= link_to 'Zmień moje hasło', edit_password_url(@resource, reset_password_token: @token)

%p Jeśli to nie było twoje żądanie, możesz spokojnie zignorować ​​ten e-mail.
%p Twoje hasło nie zmieni, dopóki nie użyjesz powyższego linku i nie utworzysz nowego hasła.