@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700&subset=latin,latin-ext);

$font-family-base: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-size-base: 17px;
$font-size-large: 21px;
$font-size-small: 14px;
$font-size-xsmall: 12px;

$font-weight-base: 400;
$headings-font-weight: 500;

$input-color-placeholder: #aaa;

// import the CSS framework
@import 'bootstrap-sprockets';
@import 'bootstrap';


@import "modules/core";
@import "modules/header";
@import "modules/intro";
@import "modules/landing";

@import "modules/forms";

@import "modules/content";
