@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700|Roboto+Slab:400,700&subset=latin,latin-ext);

$font-family-base: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-weight-base: 400;
$headings-font-weight: 500;

$font-size-base: 17px;
$font-size-large: 21px;
$font-size-small: 14px;
$font-size-xsmall: 12px;

$input-color-placeholder: #aaa;
$border-color: #27ae60;
$brand-primary: #27ae60;

$navbar-inverse-bg: #2c3e50;
$navbar-inverse-link-color: #ecf0f1;

$gutter: 20px;
$grid-gutter-width: 2*$gutter;



// import the CSS framework
@import 'bootstrap-sprockets';
@import 'bootstrap';


@import "modules/core";
@import "modules/header";
@import "modules/footer";

@import "modules/intro";
@import "modules/landing";

@import "modules/forms";

@import "modules/content";
@import "modules/people";
@import "modules/journeys";
@import "modules/journey_details";
