%div.page-header
  %h1 Wyprawy i podróże
  %p Tu znajdziesz duże wyprawy w odległe zakątki świata. Często planowane ze sporym wyprzedzeniem i wymagające dobrej organizacji.

  %div.nav
    = link_to "Zaplanuj wyprawę ", new_journey_path, class: 'btn btn-primary'

%div.page-content
  - if @journeys.size > 0

    %div.trmp-journey-list
      = render @journeys

  - else
    %p Nie ma jeszcze żadnych dostępnych podróży...
