- content_for :intro do
  %div.jd-cover{style: "background-image: url(#{@journey.cover.url(:large)})"}

    %div.jd-title
      .container
        %h1= @journey.title
        %p= @journey.short_description

%div.page-content



  = simple_format @journey.long_description
